In [8]:
import pandas as pd

In [14]:
df=pd.read_excel('userdata.xlsx')

In [15]:
display(df)

  ユーザーID  年齢   住所 血液型
0     佐藤  21   東京   A
1     田中  35  神奈川   A
2     鈴木  23   埼玉  AB
3     向井  18   千葉   O

In [16]:
df.loc[[0,1,2],:]

  ユーザーID  年齢   住所 血液型
0     佐藤  21   東京   A
1     田中  35  神奈川   A
2     鈴木  23   埼玉  AB

In [18]:
df.iloc[[2,3],[1,2]]

   年齢  住所
2  23  埼玉
3  18  千葉

In [19]:
df['年齢']>=20

0     True
1     True
2     True
3    False
Name: 年齢, dtype: bool

In [22]:
df[(df['血液型']=='A')&(df['年齢']>=20)]

  ユーザーID  年齢   住所 血液型
0     佐藤  21   東京   A
1     田中  35  神奈川   A

In [1]:
import tkinter as tk
from tkinter import messagebox as mbox

def cal():
    total =float(texttotal.get())
    number_of_people=float(textpeople.get())
    split_the_bill=total/number_of_people

    s=f"一人あたり{split_the_bill}円".format()
    labelResult['text']=s

win=tk.Tk()
win.title("割り勘アプリ")
win.geomentry("500x250")

labeltotal=tk.Label(win,text=u'合計金額:')
labeltotal.pack()

labelpeople=tk.Label(win,text=u'人数:')
labelpeople.pack()

labelResult=tk.Label(win,text=u'---')
labelResult.pack()

calcButton = tk.Button(win, text=u'結果を見る')
calcButton["command"] = calc
calcButton.pack()

texttotal = tk.Entry(win)
texttotal.insert(tk.END, input('合計金額:'))
texttotal.pack()

textpeople = tk.Entry(win)
textpeople.insert(tk.END, input('割る人数:'))
textpeople.pack()

win.mainloop()

AttributeError: '_tkinter.tkapp' object has no attribute 'geomentry'

In [1]:
$ conda install tk

SyntaxError: invalid syntax (747777678.py, line 1)

In [3]:
python3 -m tkinter

SyntaxError: invalid syntax (2764589753.py, line 1)

In [4]:
import tkinter as tk
root = tk.Tk()
root.title("Frame")
root.geometry("300x300")
frame = tk.Frame(root)
frame.grid(row=0,column=1)
entry = tk.Entry(frame)
var=tk.StringVar()
def btnclick():
    var.set(entry.get())
label = tk.Label(frame, textvariable=var)
button = tk.Button(frame, text='ボタン',command=btnclick)
label.grid(row=0,column=2)
entry.grid(row=1,column=2)
button.grid(row=2,column=2)
root.mainloop()

In [1]:
import tkinter 
tkinter._test()

In [8]:
from tkinter import*
from tkinter import ttk

root=Tk()
root.title("初めてのtkinter")

label = ttk.Label(root,text='Hello')
entry = ttk.Entry(root)
button = ttk.Button(root,text='OK')

label.pack()
entry.pack()
button.pack()

root.mainloop()

In [18]:
from tkinter import*
from tkinter import ttk

root=Tk()
root.title("初めてのtkinter")

pomeranianphoto = PhotoImage(file='/Users/mkyt/Desktop/my pandas/')
label = ttk.Label(
    root,
    text='ポメラニアンめっちゃ可愛い',
    foreground='#1155ee',
    padding=(5,10),
    font=("Times New Roman",20),
    image=pomeranianphoto,
    compound='right')
entry = ttk.Entry(root)
button = ttk.Button(root,text='それな')   

label.pack()
entry.pack()
button.pack()

root.mainloop()

TclError: image "pyimage6" doesn't exist